#1. Perkenalan
Nama  : Hafidz Muta'ali

Batch : FTDS 006



---


Keterangan kolom:

time(s)   : Detik ke- pengukuran

V_m:  Voltage/tegangan yang terukur tiap waktu

Current (A):  Kuat arus terukur tiap waktu

Cycle:  Nomor siklus charge-discharge baterai

Cap:  Kapasitas baterai tiap waktu

# 2. Soal
Problems
Kamu adalah seorang data scientist yang bekerja di salah satu perusahaan manufaktur baterai Lithium ion. Tim produksi meminta kamu untuk mengecek apakah baterai yang mereka buat dalam kondisi bagus atau tidak. Sebelum melakukan pengecekan lebih lanjut, kamu diminta untuk menghitung hambatan/resistansi dan Daya setiap detik:

R=V/I

P=V.I



---


R adalah Kapasitas dalam satuan Ohm

P adalah Daya dalam Watt

I adalah kuat arus dalam satuan Ampere

V adalah tegangan dalam satuan Volt



---


a. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan

b. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).

c. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

# 3. Import pustaka yang dibutuhkan

In [171]:
import pandas as pd
import numpy as np

#4. Data Loading
Bagian ini berisi proses data loading yang kemudian dilanjutkan dengan explorasi data secara sederhana.

In [172]:
df = pd.read_excel('https://github.com/hafidzali04/Hacktiv8-phase0/blob/main/data/NMC1-9.xlsx?raw=true')
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [173]:
df.info() #Melihat Type data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

In [174]:
df.describe() #Melihat statistik data

            time(s)           V_m   Current (A)         Cycle           Cap
count  90982.000000  90982.000000  90982.000000  90982.000000  90982.000000
mean   45490.500000      3.607666      0.999264      4.978699      2.806214
std    26264.385433      0.322777      0.001997      2.582135      0.023283
min        0.000000      2.497000      0.993000      1.000000      2.770180
25%    22745.250000      3.422000      0.997000      3.000000      2.786860
50%    45490.500000      3.636000      0.999000      5.000000      2.804878
75%    68235.750000      3.868000      1.001000      7.000000      2.823520
max    90981.000000      4.114000      1.003000      9.000000      2.840817

In [175]:
df.isnull().sum() #Melihat apakah ada kolom yang kosong

time(s)        0
V_m            0
Current (A)    0
Cycle          0
Cap            0
dtype: int64

#5. Answer 
Bagian ini berisi proses dalam menjawab soal.

In [183]:
#Proses dan Jawaban Soal A
def hambatan(v,i):
  #Rumus menghitung kapasitas dalam satuan ohm
  return v/i

def daya(v,i):
  #Rumus menghitung daya dalam watt
  return v*i

In [184]:
df.Cap.unique() #Melihat Value unique pada kolom Cap

array([2.84081667, 2.83346528, 2.82352   , 2.82039528, 2.80487833,
       2.79072556, 2.78686   , 2.7833425 , 2.77018   ])

In [189]:
#Proses Soal B
for cap in df.Cap.unique():
  if cap>= 2.5: #Memvalidasi nilai Cap diatas 2.5
    df['R/P'] = df.apply(lambda df: daya(df['V_m'], df['Current (A)']), axis=1) #Jika nilai Cap>=2.5 maka akan menghitung daya dan memasukan hasil ke coloumn R/P
  else:
    df['R/P'] = df.apply(lambda df: hambatan(df['V_m'], df['Current (A)']), axis=1)#Jika nilai Cap<2.5 maka akan menghitung hambatan dan memasukan hasil ke coloumn R/P

In [186]:
#Proese Soal C: Menampilkan Rata rata Kapasitas dengan Arus = 1, dan Cycle Ganjil 
x=df.Cap[(df['Current (A)'] == 1)&(df['Cycle']%2 != 0)].mean()
#print('Rata rata Kapasitor dengan Arus 1 dan Cycle Ganjil adalah: ',x)

#6. Hasil
Pada bab terakhir ini berisi jawaban pertanyaan soal.

In [190]:
#Jawaban Soal B Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya atau hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya,dan Kapasitas <2.5 hitung nilai hambatan
df

       time(s)    V_m  Current (A)  Cycle       Cap       R/P
0            0  4.098        0.997      1  2.840817  4.085706
1            1  4.096        0.998      1  2.840817  4.087808
2            2  4.094        0.999      1  2.840817  4.089906
3            3  4.093        0.998      1  2.840817  4.084814
4            4  4.092        0.999      1  2.840817  4.087908
...        ...    ...          ...    ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.511012
90978    90978  2.504        1.002      9  2.770180  2.509008
90979    90979  2.502        1.002      9  2.770180  2.507004
90980    90980  2.500        1.002      9  2.770180  2.505000
90981    90981  2.497        1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

In [191]:
#Jawaban Soal C: Menampilkan Rata rata Kapasitas dengan Arus = 1, dan Cycle Ganjil 
print('Rata rata Kapasitor dengan Arus 1 dan Cycle Ganjil adalah: ',x)

Rata rata Kapasitor dengan Arus 1 dan Cycle Ganjil adalah:  2.8064845553925855